<ion-view ng-controller="MapChatController as mcctrl" class="light-grey">
 	
    <ion-nav-back-button>
    </ion-nav-back-button>
     <ion-nav-title>
        <img class="logo-bar" alt="roomies" height="24" src="lib/ionic/fonts/logo.svg">
    </ion-nav-title>
     
     <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <ion-nav-back-button>
        </ion-nav-back-button>
        
      </ion-nav-buttons>
 	</ion-nav-bar>
<!--
 	 <ion-content>
        <div id="mymap" data-tap-disabled="true"></div>
    </ion-content>
-->
 	<ion-content has-bouncing="true" class="content">
	  
	</ion-content>
	 	
 </ion-view>